<%- include('../common/header')  %>
<%- include('../common/menu')  %>

<main class="principal pb-5">

  <div class="p-5 mb-4">
    <div class="container text-center">
      <h1>Elas fizeram história na tecnologia</h1>
      <p class="lead">
        Diferentemente do que costumamos pensar, a evolução da área está repleta de exemplos de mulheres que tiveram contribuições fundamentais. Confira!!! 
      </p>
    </div>
  </div>

  <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col">
          <div class="card shadow">
              <img src="https://s2.glbimg.com/paF5KTEVGzMU-ZcZa2mjYicNDjM=/e.glbimg.com/og/ed/f/original/2015/03/09/ada.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                  <h5 class="card-title">Nome da Diva</h5>
                  <p class="card-text">
                      Biografia
                  </p>
                  <p class="card-text">
                      <small class="text-muted">
                          data 
                      </small>
                  </p>

                  <a href="#" class="btn botao">saiba mais</a>
              </div>
          </div>
          </div>
      </div>
  </div>

</main>

<%- include('../common/footer')  %>