<%- include('../common/header')  %>
<%- include('../common/menu')  %>

    <main>
      <div class="d-flex flex-column justify-content-center text-center text-white bg-imagem">
        <p>MULHERES QUE FIZERAM HISTÓRIA <br> NA TECNOLOGIA</p>
    </div>
      <h1>Mulheres incriveis</h1>

    </main>

<%- include('../common/footer')  %> 