<header class="container-fluid">
    <nav class="d-flex justify-content-between flex-column flex-sm-row flex-wrap justify-content-center align-items-center sticky-top">
      <div>
        <a href="/" class="nav-link menu">Mulheres na <b>Tech</b></a>
      </div>
      <div>
        <ul class="nav justify-content-end nav-pills">
            <li class="nav-item"><a id="menuHome" class="nav-link menu" aria-current="page" href="/">Destaques</a></li>
            <li class="nav-item"><a id="menuArticles" class="nav-link menu" href="/articles">Mulheres</a></li>
            <li class="nav-item"><a id="menuAdmin" class="nav-link menu" href="/admin">Entrar</a></li>
        </ul>
      </div>
    </nav>   
  </header>